{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4><i class="glyphicon glyphicon-cog"></i> Cadastro de Peças</h4>
        </div>
    </div>
    <div class="panel-body">

        <form action="." method="POST" enctype="multipart/form-data" class="form form-vertical">
            {% csrf_token %}

            <div class="form-group">
                {{ form.description.label_tag }}
                <div class="controls">
                    <input id="{{ form.description.id }}" name="{{ form.description.name }}" type="text" value="{% if form.description.value %}{{ form.description.value }}{% endif %}" class="form-control">
                    {{ form.description.errors }}
                </div>
            </div>

            <div class="form-group">
                {{ form.reference.label_tag }}
                <div class="controls">
                    <input id="{{ form.reference.id }}" name="{{ form.reference.name }}" type="text" value="{% if form.reference.value %}{{ form.reference.value }}{% endif %}" class="form-control">
                    {{ form.reference.errors }}
                </div>
            </div>

            <div class="form-group clearfix">
                {{ form.image.label_tag }}
                <div class="controls">
                    <p><img src="{% thumbnail part.image 60x60 crop %}"></p>
                    <label for="id_image" class="file-field btn btn-primary">
                        <span>Selecionar arquivo </span>
                        <div>{{ form.image }}</div>
                    </label>
                    {{ form.image.errors }}
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="controls col-sm-12">
                    {{ form.is_active.label_tag }}
                    {{ form.is_active }}
                </div>
                {{ form.is_active.errors }}
            </div>

            <div class="form-group">
                <hr>
                <div class="controls">
                    <input type='submit' value='Salvar' class='btn btn-primary'>
                    <a href="/pecas/" class='btn btn-link'>Voltar para listagem</a>
                </div>
            </div>

        </form>


    </div><!--/panel content-->
</div><!--/panel-->
{% endblock content %}
