{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Achei Imóveis</title>

  <!-- Bootstrap Core CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!-- Fonts -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Custom Theme CSS -->
  <link href="{% static 'grayscale/css/grayscale.css' %}" rel="stylesheet">

</head>



<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top">
          <i class="fa fa-play-circle"></i>  <span class="light">Achei</span> Imóveis
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#inicio"></a>
          </li>
          <li class="page-scroll">
            <a href="#sobre">Sobre</a>
          </li>
          <li class="page-scroll">
            <a href="#contato">Contato</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <section class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Achei Imóveis</h1>
            <p class="intro-text">Em breve você terá uma nova experiência no setor imobiliário. Aguarde ...</p>
            <div class="page-scroll">
              <a href="#sobre" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Sobre o projeto</h2>
        <p>Achei Imóveis é um projeto de Trabalho de Conclusão de Curso(TCC), exigido para obtenção de grau, no curso de Sistemas de Informações, da Universidade de Franca.</p>
        <p>O objetivo deste, é trazer de maneira simples e eficaz todos os imóveis de nossas imobiliárias parceiras. E o melhor... direto para a palma de sua mão, pois o nosso principal foco são os dispositvos mobiles.</p>
        <p>Em breve disponobilizaremos novos detalhes, continue nos acompanhando.</p>
      </div>
    </div>
  </section>



  <section id="contato" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contate-nos</h2>
        <p>Gostou de nossa idéia? Quer saber mais a respeito de nosso projeto? Entre em contato conosco através do email: ferreira.lucasalves@gmail.com</p>
        <p>Encontre-nos também no Facebook e GitHub.
        <ul class="list-inline banner-social-buttons">
          <li><a href="https://www.facebook.com/lucasalvf" class="btn btn-primary btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li><a href="https://github.com/lucasaf" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div id="map"></div>

  <!-- Core JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{% static 'grayscale/js/grayscale.js' %}"></script>


<footer class="text-center"><br>Desenvolvido por:
  <a href="https://www.facebook.com/lucasalvf" target="_blank"><strong>Lucas Alves Ferreira</strong></a> | Telefone: +55 (16) 9 9232-5671
  <a href="https://github.com/lucasaf" target="_blank"><strong>GitHub</strong></a>
  <br>
  <br>

</footer>

<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="{% static 'grayscale/js/bootstrap.min.js"></script>

<!-- JavaScript jQuery code from Bootply.com editor -->
</body>
</html>
